.app-container {
    margin: auto;
    width: 500px;
    height: 400px;;
    background-color: whitesmoke;
    position: relative;
    border-radius: 15px;
}

/* .heading {
    text-align: center;
} */

.heading {
    position: relative;
    display: block;
    margin: auto;
    padding-top: 30px;
    /* border: 3px solid #73AD21; */
    text-align: center;
}

.city-container {
    position: absolute;
    left: 10%;
    width: 30%;
    top: 100px;
    border-radius: 5px;
    background-color: rgb(27, 75, 133);
}

.city {
    color: white;
    padding-top: 25px;;
    padding-bottom: 25px;
    padding-left: 25px;
    cursor: pointer;
}

.city:hover {
    background-color: rgb(60, 144, 218);
    border-radius: 5px;
}

#aqi {
    position: absolute;
    left: 49%;
    width: 40%;
    height: 150px;
    top: 100px;
}

.data-source {
    position: relative;
    right: 0%;
    top: 30px;
    color: grey;
    font-size: 10px;
    text-align: right;
}

.aqi-value {
    margin: auto;
    margin-top: 30px;
    width: 30%;
    font-size: 50px;
}