* {
    font-family: 'IBM Plex Serif', serif;
}

.app-container {
    margin: auto;
    width: 500px;
    height: 400px;;
    background-color: whitesmoke;
    position: relative;
    border-radius: 15px;
}


.heading {
    position: relative;
    display: block;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.city-container {
    position: absolute;
    left: 10%;
    width: 25%;
    top: 110px;
    border-radius: 5px;
    background-color: rgb(27, 75, 133);
}

.city {
    color: white;
    font-weight: 300;
    padding-top: 20px;
    height: 40px;
    text-align: center;
    /* padding-left: 20px; */
    cursor: pointer;
    font-size: 13px;
}

.city:hover {
    background-color: rgb(139, 189, 232);
    border-radius: 5px;
}

.city-active {
    background-color:  rgb(60, 144, 218);
    border-radius: 5px;
}

#aqi {
    position: absolute;
    left: 47%;
    width: 45%;
    height: 150px;
    top: 120px;
}

.aqi-value {
    position: relative;
    left: 0;
    margin-top: 15px;
    width: max-content;
    font-size: 55px;
    font-weight: 600;
    background-color: green;
    padding: 8px;
    border-radius: 10px;
    color: white;
}

.pm25 {
    position: absolute;
    left: 120px;
    top: 56px;
    text-align: center;
    width: max-content;
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
}

.o3 {
    position: absolute;
    left: 120px;
    top: 20px;
    text-align: center;
    width: max-content;
    background-color: rgb(207, 191, 238);
    padding: 5px;
    border-radius: 5px;
}

.station {
    position: relative;
    top: -15px;
}

.data-source {
    position: absolute;
    right: 0%;
    top: 200px;
    color: grey;
    font-size: 10px;
    text-align: right;
}

#search {
    right: 36px;
    top: 90px;
    position: absolute;
}

button {
    position: absolute;
    width: 28px;
    height: 24px;
    background-color: orange;
    cursor: pointer;
    color: white;
}
